ul.nav-news-feed {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 0 2.5rem 0;
}

ul.nav-news-feed li {
  list-style: none;
  display: block;
  padding: 0.9375rem 0;
}

ul.nav-news-feed li div {
  position: relative;
  margin-left: 1.875rem;
}

ul.nav-news-feed li div::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  border-top: 0.0625rem solid $white3;
  position: absolute;
  bottom: -0.9375rem;
  left: 0;
}

ul.nav-news-feed li a {
  color: $grey1;
}

ul.nav-news-feed li i {
  font-size: 1.125rem;
  margin-right: 0.9375rem;
  float: left;
}
