*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #6d6e71;
  font-size: 12px;
}

.md-form .prefix.active {
  color: #32be8fa6;
}

.md-form input:not([type]):focus:not([readonly]) + label,
.md-form input[type='text']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='password']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='email']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='url']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='time']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='date']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='datetime']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='datetime-local']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='number']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='search']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='phone']:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type='search-md']:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: rgb(2, 126, 84);
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type='text']:not(.browser-default):focus:not([readonly]),
.md-form input[type='password']:not(.browser-default):focus:not([readonly]),
.md-form input[type='email']:not(.browser-default):focus:not([readonly]),
.md-form input[type='url']:not(.browser-default):focus:not([readonly]),
.md-form input[type='time']:not(.browser-default):focus:not([readonly]),
.md-form input[type='date']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime']:not(.browser-default):focus:not([readonly]),
.md-form input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
.md-form input[type='tel']:not(.browser-default):focus:not([readonly]),
.md-form input[type='number']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search']:not(.browser-default):focus:not([readonly]),
.md-form input[type='phone']:not(.browser-default):focus:not([readonly]),
.md-form input[type='search-md']:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #32be8fa6;
  box-shadow: 0 1px 0 0 #32be8fa6;
}
