// COLORS

//Base Colours
$color-primary: #32be8f;
$color-secondary: #38d39f;

//Blue
$blue-primary: #27aae1;

//White
$white-primary: #ffffff;
$white1: #e6e7e8;
$white2: #e6e6e6;
$white3: #f1f2f2;
$white4: #f8f8f8;

//Green
$green1: #8dc63f;

//Grey
$grey1: #6d6e71;
$grey2: #939598;
$grey3: #4d4d4d;

//Red
$red1: #ef4136;
$red2: #d6100b;

//Black
$black-primary: #000000;
$black1: #231f20;
